@{
    ViewData["Title"] = "Home Page";
}
<!--Styles-->
<style>
    /* Main container styling */
    .main-container {
        text-align: center;
    }

    /* Heading styling */
    .main-heading {
        margin-bottom: 50px;
        font-size: 40px;
    }

    /* Buttons holder styling */
    .buttons-holder {
        display: flex;
        justify-content: center;
    }

    /* Individual button container styling */
    .button-container {
        margin: 50px;
    }

    /* Button styling */
    .custom-button {
        width: fit-content;
        height: fit-content;
        background-color: rgb(175, 222, 191);
        border: 2px solid black;
        border-radius: 10px;
        cursor: pointer;
        text-decoration: none;
        display: inline-block;
    }

    .custom-button-text {
        padding-left: 10px;
        padding-right: 10px;
        font-size: 25px;
        color: black;
        text-align: center;
    }
</style>

<!--Homepage main container-->
<div class="main-container">
    <!--The home page main text-->
    <div class="main-heading">
        <h1>Are you a manager or lecturer?</h1>
    </div>

    <!--Buttons holder-->
    <div class="buttons-holder">
        <!--The home page lecture button-->
        <div class="button-container">
            <a asp-controller="Account" asp-action="Login" class="custom-button">
                <p class="custom-button-text">Lecturer</p>
            </a>
        </div>

        <!--The home page manager button-->
        <div class="button-container">
            <a asp-controller="Account" asp-action="Login" class="custom-button">
                <p class="custom-button-text">Manager</p>
            </a>
        </div>
    </div>
</div>



