@{
    ViewData["Title"] = "Register";
}
<!--Style-->
<style>
    .wrapper {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .main-container {
        width: fit-content;
        height: fit-content;
        background-color: rgb(175, 222, 191);
        border: 2px solid black;
        border-radius: 10px;
        padding: 20px;
        text-align: center;
        margin-bottom: 20px;
    }

        .main-container input[type="text"],
        .main-container input[type="password"],
        .main-container input[type="email"] {
            display: block;
            width: 100%;
            margin: 10px 0;
            padding: 10px;
            box-sizing: border-box;
            border-radius: 5px;
            border: 1px solid #ccc;
        }

    .Button {
        display: block;
        margin: 0 auto;
        padding: 10px 20px;
        width: fit-content;
        height: fit-content;
        background-color: rgb(175, 222, 191);
        border: 2px solid black;
        border-radius: 10px;
        cursor: pointer;
        font-size: 25px;
        text-decoration: none;
    }

        .Button:hover {
            background-color: #45a049;
        }

    .register-container {
        margin-top: 20px;
    }

        .register-container a {
            color: blue;
            text-decoration: underline;
            margin-left: 5px;
        }

    .checkBox {
        margin-top: 20px;
        text-align: left;
    }
</style>

<div class="wrapper">
    <div class="main-container">
        <h1>Register</h1>

        <!-- Input fields -->
        <div>
            <label for="username"><b>Username</b></label>
            <input type="text" placeholder="Enter Username" name="username" required>

            <label for="email"><b>Email</b></label>
            <input type="email" placeholder="Enter Email" name="email" required>

            <label for="password"><b>Password</b></label>
            <input type="password" placeholder="Enter Password" name="password" required>

            <label for="confirm-password"><b>Confirm Password</b></label>
            <input type="password" placeholder="Confirm Password" name="confirm-password" required>
        </div>

        <!-- the lecturer and manager -->
        <div class="checkBox">
            <label>
                <input type="radio" name="role" value="Lecture" checked="checked">
                Lecture
            </label>
            <label>
                <input type="radio" name="role" value="Manager">
                Manager
            </label>
        </div>

        <!-- Login link -->
        <div class="register-container">
            <p>
                Already have an account?
                <a asp-controller="Account" asp-action="Login">Login</a>
            </p>
        </div>
    </div>
    <!-- Register Button -->
    <button type="submit" class="Button">Register</button>
</div>




